workflows/invo-match-manual-upload.n8n.json
{
  "name": "Invo Match - Manual Upload Fallback",
  "nodes": [
    {
      "parameters": {
        "filePath": "=/data/data/sample_invoices/{{$json.body?.filename || $json.filename || 'INV-1002-price-mismatch.pdf'}}"
      },
      "id": "f8a93e3d-fa3e-4d43-bb9e-1d54eb5e6ecc",
      "name": "Read Local PDF File",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        320,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "source",
              "value": "manual_upload"
            },
            {
              "name": "sender_name",
              "value": "Demo Reviewer"
            },
            {
              "name": "sender_email",
              "value": "reviewer@example.com"
            },
            {
              "name": "email_subject",
              "value": "=Manual upload check - {{$json.body?.filename || $json.filename || 'INV-1002-price-mismatch.pdf'}}"
            }
          ]
        }
      },
      "id": "a9b83e3d-d4e5-4f3e-8f9d-1c34eb5e5ecc",
      "name": "Set Demo Metadata",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        540,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Read PDF binary directly and base64-encode it for Gemini.\n// This avoids the broken extractFromFile PDF node that requires standardFontDataUrl config.\nconst binaryBuffer = await this.helpers.getBinaryDataBuffer(0, 'data');\nreturn [{\n  json: {\n    base64Pdf: binaryBuffer.toString('base64'),\n    ocr_fallback_triggered: false\n  }\n}];"
      },
      "id": "b9c83e3d-e5f6-4f4e-9f8d-1d45eb5e6ecc",
      "name": "Encode PDF as Base64",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        760,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/{{$env.GEMINI_MODEL || 'gemini-2.5-flash'}}:generateContent?key={{$env.GEMINI_API_KEY}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"contents\": [{\n    \"parts\": [\n      { \"text\": \"You are an invoice data extraction engine. Extract all structured data from this invoice PDF and return only valid JSON matching the schema exactly. Do not include markdown, code fences, comments, or explanations. Return the raw JSON only.\\n\\nEvaluate the visual clarity and legibility of the document. If it is a scanned image, photocopy, photo, or has low-resolution, blurred, or distorted text, set \\\"ocr_used\\\" to true and cap \\\"confidence_score\\\" at 0.75 (explaining why in \\\"low_confidence_reason\\\"). Otherwise, set \\\"ocr_used\\\" to false and \\\"low_confidence_reason\\\" to null.\\n\\nRequired Schema:\\n{\\n  \\\"vendor_name\\\": \\\"string or null\\\",\\n  \\\"vendor_id\\\": \\\"string or null\\\",\\n  \\\"purchase_order_number\\\": \\\"string or null\\\",\\n  \\\"invoice_number\\\": \\\"string or null\\\",\\n  \\\"invoice_date\\\": \\\"YYYY-MM-DD or null\\\",\\n  \\\"due_date\\\": \\\"YYYY-MM-DD or null\\\",\\n  \\\"currency\\\": \\\"INR, USD, EUR or null\\\",\\n  \\\"net_amount\\\": 0.0,\\n  \\\"tax_amount\\\": 0.0,\\n  \\\"gross_amount\\\": 0.0,\\n  \\\"line_items\\\": [\\n    {\\n      \\\"line_number\\\": 1,\\n      \\\"sku\\\": \\\"string or null\\\",\\n      \\\"description\\\": \\\"string\\\",\\n      \\\"quantity\\\": 0.0,\\n      \\\"unit_price\\\": 0.0,\\n      \\\"tax_rate\\\": 0.0,\\n      \\\"line_net_amount\\\": 0.0,\\n      \\\"line_tax_amount\\\": 0.0,\\n      \\\"line_gross_amount\\\": 0.0\\n    }\\n  ],\\n  \\\"confidence_score\\\": 0.95,\\n  \\\"ocr_used\\\": false,\\n  \\\"low_confidence_reason\\\": \\\"string or null\\\",\\n  \\\"extraction_warnings\\\": []\\n}\" },\n      { \"inline_data\": { \"mime_type\": \"application/pdf\", \"data\": $json.base64Pdf } }\n    ]\n  }],\n  \"generationConfig\": {\n    \"responseMimeType\": \"application/json\"\n  }\n} }}",
        "options": {}
      },
      "id": "c9d83e3d-f6a7-4f5e-bf8d-1e56eb5e7ecc",
      "name": "Gemini AI Extraction",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        980,
        300
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 15000
    },
    {
      "parameters": {
        "jsCode": "/* Normalization & Matching Node Code */\n// 1. Normalization Helpers\nfunction normalizeVendorName(name) {\n  if (!name) return \"\";\n  return name.toLowerCase().replace(/[.,\\/#!$%\\^&\\*;:{}=\\-_`~()]/g, \"\").replace(/\\b(pvt ltd|private limited|ltd|limited|llc|inc|corp|corporation|gmbh|co)\\b/g, \"\").replace(/\\s+/g, \" \").trim();\n}\n\nfunction normalizeCurrency(currency) {\n  if (!currency) return null;\n  const cleaned = currency.trim().toUpperCase();\n  if (cleaned === \"$\" || cleaned === \"USD\") return \"USD\";\n  if (cleaned === \"₹\" || cleaned === \"INR\" || cleaned === \"RS\") return \"INR\";\n  if (cleaned === \"€\" || cleaned === \"EUR\") return \"EUR\";\n  return cleaned;\n}\n\nfunction normalizeAmount(value) {\n  if (value === null || value === undefined) return 0.00;\n  if (typeof value === \"string\") {\n    const cleaned = value.replace(/[^\\d.-]/g, \"\");\n    const parsed = parseFloat(cleaned);\n    return isNaN(parsed) ? 0.00 : Math.round(parsed * 100) / 100;\n  }\n  return typeof value === \"number\" ? Math.round(value * 100) / 100 : 0.00;\n}\n\nfunction normalizeQuantity(value) {\n  if (value === null || value === undefined) return 0;\n  if (typeof value === \"string\") {\n    const cleaned = value.replace(/[^\\d.-]/g, \"\");\n    const parsed = parseFloat(cleaned);\n    return isNaN(parsed) ? 0 : parsed;\n  }\n  return typeof value === \"number\" ? value : 0;\n}\n\nfunction normalizeDate(value) {\n  if (!value) return null;\n  const str = String(value).trim();\n  const match = str.match(/^(\\d{4})[-/](\\d{1,2})[-/](\\d{1,2})/);\n  if (match) return `${match[1]}-${match[2].padStart(2, '0')}-${match[3].padStart(2, '0')}`;\n  try {\n    const d = new Date(str);\n    if (isNaN(d.getTime())) return null;\n    if (str.includes(\"Z\") || str.includes(\"T\")) {\n      return d.toISOString().split(\"T\")[0];\n    } else {\n      return `${d.getFullYear()}-${String(d.getMonth() + 1).padStart(2, '0')}-${String(d.getDate()).padStart(2, '0')}`;\n    }\n  } catch {\n    return null;\n  }\n}\n\n// 2. Parse AI response - Gemini now always gets the PDF directly as base64\nlet geminiRaw;\ntry {\n  geminiRaw = $node[\"Gemini AI Extraction\"].json.candidates[0].content.parts[0].text;\n} catch (e) {\n  throw new Error('Gemini AI Extraction failed: ' + e.message);\n}\nconst parsed = JSON.parse(geminiRaw.replace(/```json\\n?|```/g, \"\").trim());\n\n// Normalize Extracted\nconst extracted = {\n  vendor_name: parsed.vendor_name ? parsed.vendor_name.trim() : null,\n  vendor_id: parsed.vendor_id ? parsed.vendor_id.trim() : null,\n  purchase_order_number: parsed.purchase_order_number ? parsed.purchase_order_number.trim() : null,\n  invoice_number: parsed.invoice_number ? parsed.invoice_number.trim() : null,\n  invoice_date: normalizeDate(parsed.invoice_date),\n  due_date: normalizeDate(parsed.due_date),\n  currency: normalizeCurrency(parsed.currency),\n  net_amount: normalizeAmount(parsed.net_amount),\n  tax_amount: normalizeAmount(parsed.tax_amount),\n  gross_amount: normalizeAmount(parsed.gross_amount),\n  confidence_score: parseFloat(parsed.confidence_score) || 0.00,\n  extraction_warnings: Array.isArray(parsed.extraction_warnings) ? parsed.extraction_warnings : [],\n  ocr_used: parsed.ocr_used === true || parsed.ocr_used === 'true' || false,\n  low_confidence_reason: parsed.low_confidence_reason || null,\n  missing_critical_fields: (() => {\n    const missing = [];\n    if (!parsed.invoice_number) missing.push('invoice_number');\n    if (!parsed.invoice_date) missing.push('invoice_date');\n    if (!parsed.vendor_name) missing.push('vendor_name');\n    if (!parsed.gross_amount) missing.push('gross_amount');\n    return missing.length > 0 ? missing.join(', ') : '';\n  })(),\n  line_items: (parsed.line_items || []).map(l => ({\n    line_number: parseInt(l.line_number) || 0,\n    sku: l.sku ? l.sku.trim() : null,\n    description: l.description ? l.description.trim() : \"\",\n    quantity: normalizeQuantity(l.quantity),\n    unit_price: normalizeAmount(l.unit_price),\n    tax_rate: normalizeQuantity(l.tax_rate),\n    line_net_amount: normalizeAmount(l.line_net_amount),\n    line_tax_amount: normalizeAmount(l.line_tax_amount),\n    line_gross_amount: normalizeAmount(l.line_gross_amount)\n  }))\n};\n\nreturn {\n  extracted\n};"
      },
      "id": "6fc4d918-89c0-7f71-e9f9-e374d6c4d86a",
      "name": "Normalize Extracted JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.NOCODB_BASE_URL}}/api/v2/tables/{{$env.NOCODB_PURCHASE_ORDERS_TABLE_ID}}/records",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-token",
              "value": "={{$env.NOCODB_API_TOKEN}}"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "where",
              "value": "=(po_number,eq,{{$node[\"Normalize Extracted JSON\"].json.extracted.purchase_order_number}})"
            }
          ]
        },
        "options": {}
      },
      "id": "5eb4c917-78c0-6f71-d9f9-e374d6c4c85f",
      "name": "NocoDB PO Lookup",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1420,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.NOCODB_BASE_URL}}/api/v2/tables/{{$env.NOCODB_PO_LINE_ITEMS_TABLE_ID}}/records",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-token",
              "value": "={{$env.NOCODB_API_TOKEN}}"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "where",
              "value": "=(po_number,eq,{{$node[\"Normalize Extracted JSON\"].json.extracted.purchase_order_number}})"
            }
          ]
        },
        "options": {}
      },
      "id": "e5eb5c91-78c0-7f71-e9f9-e374d6c4d86b",
      "name": "NocoDB PO Line Items Lookup",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1640,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "jsCode": "const invoiceId = $node[\"Store Invoice in NocoDB\"].json.id;\nconst lineItems = $node[\"Call Matching Service\"].json.validation.line_items || [];\nreturn lineItems.map(item => ({\n  json: {\n    invoices: invoiceId,\n    line_number: item.line_number,\n    sku: item.sku,\n    description: item.description,\n    quantity: item.quantity,\n    unit_price: item.unit_price,\n    tax_rate: item.tax_rate,\n    line_net_amount: item.line_net_amount,\n    line_tax_amount: item.line_tax_amount,\n    line_gross_amount: item.line_gross_amount,\n    matched_po_line_id: item.matched_po_line_id,\n    match_status: item.match_status,\n    match_notes: item.match_notes\n  }\n}));"
      },
      "id": "e6eb6c92-78c0-7f71-e9f9-e374d6c4d86b",
      "name": "Prepare Invoice Line Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2300,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.NOCODB_BASE_URL}}/api/v2/tables/{{$env.NOCODB_INVOICE_LINE_ITEMS_TABLE_ID}}/records",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-token",
              "value": "={{$env.NOCODB_API_TOKEN}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {}
      },
      "id": "e7eb7c93-78c0-7f71-e9f9-e374d6c4d86b",
      "name": "Store Invoice Line Items",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2520,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "jsCode": "const invoiceId = $node[\"Store Invoice in NocoDB\"].json.id;\nconst results = $node[\"Call Matching Service\"].json.validation.results || [];\nconst poNumber = $node[\"Call Matching Service\"].json.po ? $node[\"Call Matching Service\"].json.po.po_number : null;\nreturn results.map(item => ({\n  json: {\n    invoices: invoiceId,\n    po_number: poNumber,\n    field_name: item.fieldName || item.field_name,\n    rule_category: item.ruleCategory || item.rule_category,\n    invoice_value: String(item.invoiceValue !== undefined ? item.invoiceValue : (item.invoice_value || \"\")),\n    po_value: String(item.poValue !== undefined ? item.poValue : (item.po_value || \"\")),\n    match_status: item.matchStatus || item.match_status,\n    severity: item.severity,\n    rule_id: item.ruleId || item.rule_id,\n    message: item.message\n  }\n}));"
      },
      "id": "e8eb8c94-78c0-7f71-e9f9-e374d6c4d86b",
      "name": "Prepare Validation Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2740,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.NOCODB_BASE_URL}}/api/v2/tables/{{$env.NOCODB_VALIDATION_RESULTS_TABLE_ID}}/records",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-token",
              "value": "={{$env.NOCODB_API_TOKEN}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {}
      },
      "id": "e9eb9c95-78c0-7f71-e9f9-e374d6c4d86b",
      "name": "Store Validation Results",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2960,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\n\nfor (const item of $input.all()) {\n  let binaryPropertyName = 'attachment_0';\n  if (!item.binary || !item.binary[binaryPropertyName]) {\n    if (item.binary && item.binary['data']) {\n      binaryPropertyName = 'data';\n    }\n  }\n  \n  if (item.binary && item.binary[binaryPropertyName]) {\n    const binaryData = item.binary[binaryPropertyName];\n    const binaryBuffer = await this.helpers.getBinaryDataBuffer(0, binaryPropertyName);\n    const hash = crypto.createHash('sha256').update(binaryBuffer).digest('hex');\n    \n    item.json.attachmentHash = hash;\n    item.json.binaryPropertyName = binaryPropertyName;\n    item.json.filename = binaryData.fileName || 'invoice.pdf';\n  } else {\n    item.json.attachmentHash = null;\n    item.json.binaryPropertyName = 'data';\n    item.json.filename = 'invoice.pdf';\n  }\n}\n\nreturn $input.all();"
      },
      "id": "bea4235a-42b6-4b76-81cd-3d2b3308d0fa",
      "name": "Compute Attachment Hash",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        430,
        200
      ]
    },
    {
      "parameters": {
        "fileName": "=/data/invoices/{{$json.attachmentHash}}.pdf",
        "dataPropertyName": "={{$json.binaryPropertyName}}"
      },
      "id": "2d21d0f5-06d9-454f-9746-5bdec90c8acd",
      "name": "Write Binary PDF File",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        430,
        400
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.NOCODB_BASE_URL}}/api/v2/tables/{{$env.NOCODB_INVOICES_TABLE_ID}}/records",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-token",
              "value": "={{$env.NOCODB_API_TOKEN}}"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "1000"
            }
          ]
        },
        "options": {}
      },
      "id": "7c1805f6-3109-44c5-9181-59d80d86aec8",
      "name": "NocoDB Invoices Lookup",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1080,
        200
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.NOCODB_BASE_URL}}/api/v2/tables/{{$env.NOCODB_VENDORS_TABLE_ID}}/records",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-token",
              "value": "={{$env.NOCODB_API_TOKEN}}"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "where",
              "value": "=(vendor_id,eq,{{$node[\"NocoDB PO Lookup\"].json.list?.[0]?.vendor_id || ''}})"
            }
          ]
        },
        "options": {}
      },
      "id": "842722a6-12e0-4056-8597-39eaa52c1c4c",
      "name": "NocoDB Vendor Lookup",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1320,
        200
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "jsCode": "const poLookup = $node[\"NocoDB PO Lookup\"].json.list || [];\nconst poRaw = poLookup[0] || null;\nconst poLineItems = $node[\"NocoDB PO Line Items Lookup\"].json.list || [];\nconst vendorLookup = $node[\"NocoDB Vendor Lookup\"].json.list || [];\nconst existingInvoices = $node[\"NocoDB Invoices Lookup\"].json.list || [];\nconst attachmentHash = $node[\"Compute Attachment Hash\"].json.attachmentHash;\n\n// Extract vendor aliases\nlet vendorAliases = [];\nif (vendorLookup[0] && vendorLookup[0].vendor_aliases) {\n  try {\n    vendorAliases = typeof vendorLookup[0].vendor_aliases === 'string' \n      ? JSON.parse(vendorLookup[0].vendor_aliases) \n      : vendorLookup[0].vendor_aliases;\n  } catch (e) {\n    vendorAliases = [];\n  }\n}\n\nconst po = poRaw ? {\n  id: poRaw.id,\n  po_number: poRaw.po_number,\n  vendor_id: poRaw.vendor_id,\n  vendor_name_snapshot: poRaw.vendor_name_snapshot,\n  currency: poRaw.currency,\n  approval_status: poRaw.approval_status,\n  approved_net_amount: parseFloat(poRaw.approved_net_amount) || 0.00,\n  approved_tax_amount: parseFloat(poRaw.approved_tax_amount) || 0.00,\n  approved_gross_amount: parseFloat(poRaw.approved_gross_amount) || 0.00,\n  remaining_amount: parseFloat(poRaw.remaining_amount) || 0.00,\n  tolerance_percent: parseFloat(poRaw.tolerance_percent) || 2.00,\n  tolerance_amount: parseFloat(poRaw.tolerance_amount) || 100.00,\n  line_items: poLineItems.map(item => ({\n    id: item.id,\n    line_number: parseInt(item.line_number) || 0,\n    sku: item.sku,\n    description: item.description,\n    quantity: parseFloat(item.quantity) || 0.0,\n    unit_price: parseFloat(item.unit_price) || 0.00,\n    tax_rate: parseFloat(item.tax_rate) || 0.00,\n    line_net_amount: parseFloat(item.line_net_amount) || 0.00,\n    line_tax_amount: parseFloat(item.line_tax_amount) || 0.00,\n    line_gross_amount: parseFloat(item.line_gross_amount) || 0.00\n  }))\n} : null;\n\nconst options = {\n  existingInvoices,\n  attachmentHash,\n  vendorAliases,\n  multiplePOsFound: poLookup.length > 1\n};\n\nreturn {\n  invoice: $node[\"Normalize Extracted JSON\"].json.extracted,\n  po,\n  options\n};"
      },
      "id": "d3c5b8a1-909b-4633-8cb4-daf6019bdcaa",
      "name": "Build PO Object",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://matching-service:4000/match",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ invoice: $json.invoice, po: $json.po, options: $json.options }) }}",
        "options": {}
      },
      "id": "4674f101-6cf7-4143-92a8-ecc3c281c7b0",
      "name": "Call Matching Service",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1680,
        200
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.NOCODB_BASE_URL}}/api/v2/tables/{{$env.NOCODB_INVOICES_TABLE_ID}}/records",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-token",
              "value": "={{$env.NOCODB_API_TOKEN}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ vendor_name: $node['Call Matching Service'].json.invoice.vendor_name, vendor_id: $node['Call Matching Service'].json.invoice.vendor_id || ($node['Call Matching Service'].json.po ? $node['Call Matching Service'].json.po.vendor_id : null), purchase_order_number: $node['Call Matching Service'].json.invoice.purchase_order_number, purchase_order_match: $node['Call Matching Service'].json.purchase_order_match, invoice_number: $node['Call Matching Service'].json.invoice.invoice_number, invoice_date: $node['Call Matching Service'].json.invoice.invoice_date, due_date: $node['Call Matching Service'].json.invoice.due_date, currency: $node['Call Matching Service'].json.invoice.currency, net_amount: $node['Call Matching Service'].json.invoice.net_amount, tax_amount: $node['Call Matching Service'].json.invoice.tax_amount, gross_amount: $node['Call Matching Service'].json.invoice.gross_amount, validation_status: $node['Call Matching Service'].json.validation.status, discrepancy_summary: ($node['Call Matching Service'].json.validation.discrepancies || []).join(', '), override_decision: 'None', attachment_hash: $node['Compute Attachment Hash'].json.attachmentHash, invoice_attachment: '/data/invoices/' + $node['Compute Attachment Hash'].json.attachmentHash + '.pdf', sender_name: $json.body?.sender_name || $json.sender_name || null, sender_email: $json.body?.sender_email || $json.sender_email || null, email_subject: $json.body?.email_subject || $json.email_subject || $node['Set Demo Metadata'].json.email_subject || 'Manual upload check', received_at: $node['Set Demo Metadata'].json.received_at || new Date().toISOString(), confidence_score: $node['Call Matching Service'].json.invoice.confidence_score || 0, extraction_warnings: JSON.stringify($node['Call Matching Service'].json.invoice.extraction_warnings || []), ocr_used: $node['Call Matching Service'].json.invoice.ocr_used || false, low_confidence_reason: $node['Call Matching Service'].json.invoice.low_confidence_reason || '', duplicate_flag: $node['Call Matching Service'].json.duplicate_flag || false, duplicate_type: $node['Call Matching Service'].json.duplicate_type || '', line_items_raw: JSON.stringify($node['Call Matching Service'].json.invoice.line_items || []), validation_results_json: JSON.stringify($node['Call Matching Service'].json.validation.results || []), missing_critical_fields: $node['Call Matching Service'].json.invoice.missing_critical_fields || '' }) }}"
      },
      "id": "6dd5a0a6-b436-437f-86d0-d660743b2357",
      "name": "Store Invoice in NocoDB",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1800,
        200
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "entity_id",
              "value": "={{$node['Normalize Extracted JSON'].json.extracted.invoice_number || 'Unknown'}}"
            },
            {
              "name": "action",
              "value": "invoice_extracted"
            },
            {
              "name": "details",
              "value": "Invoice metadata extracted successfully"
            },
            {
              "name": "previous_status",
              "value": ""
            },
            {
              "name": "new_status",
              "value": ""
            }
          ]
        }
      },
      "id": "cfd65249-1d34-4a3d-b195-29e285d4ed5c",
      "name": "Prep Audit: Extracted",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        970,
        450
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "oC8ETFMtyXEY4EJt",
          "mode": "list",
          "cachedResultName": "Invo Match - Log Audit Event Sub-workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "id": "0daa6ebc-507a-49fb-9422-d76c67b815d5",
      "name": "Log Audit: Extracted",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1130,
        450
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "entity_id",
              "value": "={{$node['Normalize Extracted JSON'].json.extracted.invoice_number || 'Unknown'}}"
            },
            {
              "name": "action",
              "value": "po_lookup_completed"
            },
            {
              "name": "details",
              "value": "=PO Lookup completed for PO: {{$node['Normalize Extracted JSON'].json.extracted.purchase_order_number || 'None'}}"
            },
            {
              "name": "previous_status",
              "value": ""
            },
            {
              "name": "new_status",
              "value": ""
            }
          ]
        }
      },
      "id": "a134f54a-a503-472e-9a5c-5723f427cc13",
      "name": "Prep Audit: PO Lookup",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1460,
        450
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "oC8ETFMtyXEY4EJt",
          "mode": "list",
          "cachedResultName": "Invo Match - Log Audit Event Sub-workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "id": "eb3d136e-a1dd-4c90-97a9-cd01eabc714b",
      "name": "Log Audit: PO Lookup",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1620,
        450
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "entity_id",
              "value": "={{$node['Normalize Extracted JSON'].json.extracted.invoice_number || 'Unknown'}}"
            },
            {
              "name": "action",
              "value": "validation_completed"
            },
            {
              "name": "details",
              "value": "=Validation completed. Resulting Status: {{$node['Call Matching Service'].json.validation_status}}"
            },
            {
              "name": "previous_status",
              "value": ""
            },
            {
              "name": "new_status",
              "value": ""
            }
          ]
        }
      },
      "id": "19b02a5d-80fc-4ba3-a6e6-ea91a12e9159",
      "name": "Prep Audit: Validation",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1740,
        450
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "oC8ETFMtyXEY4EJt",
          "mode": "list",
          "cachedResultName": "Invo Match - Log Audit Event Sub-workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "id": "8e1e3ef1-9586-4900-af6d-f7254d1e1602",
      "name": "Log Audit: Validation",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1900,
        450
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "entity_id",
              "value": "={{$node['Normalize Extracted JSON'].json.extracted.invoice_number || 'Unknown'}}"
            },
            {
              "name": "action",
              "value": "={{$node['Call Matching Service'].json.validation_status === 'Ready for Payment' ? 'ready_for_payment' : ($node['Call Matching Service'].json.validation_status === 'Rejected' ? 'rejected' : 'routed_to_review')}}"
            },
            {
              "name": "details",
              "value": "=Final ingestion status: {{$node['Call Matching Service'].json.validation_status}}"
            },
            {
              "name": "previous_status",
              "value": "None"
            },
            {
              "name": "new_status",
              "value": "={{$node['Call Matching Service'].json.validation_status}}"
            }
          ]
        }
      },
      "id": "a0a01a52-da1b-4ecc-a092-35480cb593b6",
      "name": "Prep Audit: Outcome",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2960,
        450
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "oC8ETFMtyXEY4EJt",
          "mode": "list",
          "cachedResultName": "Invo Match - Log Audit Event Sub-workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "id": "3432d42e-6e25-4a4c-b6ad-9314a7916cc5",
      "name": "Log Audit: Outcome",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3120,
        450
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Call Matching Service').first().json.validation_status }}",
                    "rightValue": "Ready for Payment",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ready for Payment"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Call Matching Service').first().json.validation_status }}",
                    "rightValue": "Procurement Review",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Procurement Review"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Call Matching Service').first().json.validation_status }}",
                    "rightValue": "Rejected",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Rejected"
            }
          ]
        },
        "options": {}
      },
      "id": "ad8606d0-9df9-4cd9-b611-5154ec478412",
      "name": "Switch on validation_status",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        3160,
        200
      ]
    },
    {
      "parameters": {
        "fromEmail": "={{$env.SENDER_EMAIL || 'procurement-automation@example.com'}}",
        "toEmail": "={{$env.RECIPIENT_EMAIL || 'accounting@example.com'}}",
        "subject": "=Invoice Approved for Payment: {{$node['Call Matching Service'].json.invoice.invoice_number}}",
        "html": "=<h3>Invoice Approved</h3><p>Invoice <strong>{{$node['Call Matching Service'].json.invoice.invoice_number}}</strong> from vendor <strong>{{$node['Call Matching Service'].json.invoice.vendor_name}}</strong> has passed all automated matching validation rules and is approved for payment.</p><p><strong>Gross Amount:</strong> {{$node['Call Matching Service'].json.invoice.currency}} {{$node['Call Matching Service'].json.invoice.gross_amount}}</p>"
      },
      "id": "1c33ae42-4e70-4bf2-a8ed-b65147b7064b",
      "name": "Send Payment Approved Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        3380,
        100
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 10000,
      "credentials": {
        "smtp": {
          "id": "smtp_credentials_id",
          "name": "SMTP Credentials"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "={{$env.SENDER_EMAIL || 'procurement-automation@example.com'}}",
        "toEmail": "={{$env.PROCUREMENT_REVIEW_EMAIL || 'reviewer@example.com'}}",
        "subject": "=Procurement Review Required: {{$node['Call Matching Service'].json.invoice.invoice_number}}",
        "html": "=<h3>Review Required</h3><p>Invoice <strong>{{$node['Call Matching Service'].json.invoice.invoice_number}}</strong> from vendor <strong>{{$node['Call Matching Service'].json.invoice.vendor_name}}</strong> requires manual review.</p><p><strong>Discrepancies:</strong> {{$node['Call Matching Service'].json.validation.discrepancies.join(', ')}}</p><p>Please log in to NocoDB to review the discrepancies.</p>"
      },
      "id": "31af4257-c2c6-421f-a43b-f0d44558468b",
      "name": "Send Review Needed Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        3380,
        250
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 10000,
      "credentials": {
        "smtp": {
          "id": "smtp_credentials_id",
          "name": "SMTP Credentials"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "={{$env.SENDER_EMAIL || 'procurement-automation@example.com'}}",
        "toEmail": "={{$env.RECIPIENT_EMAIL || 'accounting@example.com'}}",
        "subject": "=Invoice Rejected: {{$node['Call Matching Service'].json.invoice.invoice_number}}",
        "html": "=<h3>Invoice Rejected</h3><p>Invoice <strong>{{$node['Call Matching Service'].json.invoice.invoice_number}}</strong> from vendor <strong>{{$node['Call Matching Service'].json.invoice.vendor_name}}</strong> has been rejected by the automated matching engine.</p><p><strong>Reasons:</strong> {{$node['Call Matching Service'].json.validation.discrepancies.join(', ')}}</p>"
      },
      "id": "313b9249-057a-499c-a60c-d92f9e704846",
      "name": "Send Rejected Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        3380,
        400
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 10000,
      "credentials": {
        "smtp": {
          "id": "smtp_credentials_id",
          "name": "SMTP Credentials"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "invo-match-upload",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "a5bd5254-0a75-4b01-b44a-0a48b4ef67a4",
      "webhookId": "a5bd5254-0a75-4b01-b44a-0a48b4ef67a4",
      "name": "WebhookTrigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        150
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "low-text-condition",
              "leftValue": "={{ ($json.text || '').trim().length }}",
              "rightValue": 40,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "59259aef-2ac3-4e29-bd9f-186f909a68cc",
      "name": "Check Extraction Quality",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        880,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Pull the ORIGINAL pdf binary (Extract PDF Text drops it), base64 encode for Gemini inline_data.\nconst buffer = await this.helpers.getBinaryDataBuffer(0, 'data');\nreturn [{\n  json: {\n    base64Pdf: buffer.toString('base64'),\n    ocr_fallback_triggered: true\n  }\n}];"
      },
      "id": "e4e9c18e-aaf1-44ce-b3fb-46b901394bd3",
      "name": "Prepare OCR Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        210
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/{{$env.GEMINI_MODEL || 'gemini-2.5-flash'}}:generateContent?key={{$env.GEMINI_API_KEY}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"contents\": [{\n    \"parts\": [\n      { \"text\": \"You are an invoice data extraction engine. This document could not be read as plain text (likely a scanned or image-based PDF), so you are receiving the raw PDF pages directly. Perform OCR on the document yourself and extract structured data. Return only valid JSON matching the schema. Do not include markdown, comments, or explanations.\\n\\nRequired Schema:\\n{\\n  \\\"vendor_name\\\": \\\"string or null\\\",\\n  \\\"vendor_id\\\": \\\"string or null\\\",\\n  \\\"purchase_order_number\\\": \\\"string or null\\\",\\n  \\\"invoice_number\\\": \\\"string or null\\\",\\n  \\\"invoice_date\\\": \\\"YYYY-MM-DD or null\\\",\\n  \\\"due_date\\\": \\\"YYYY-MM-DD or null\\\",\\n  \\\"currency\\\": \\\"ISO currency or null\\\",\\n  \\\"net_amount\\\": 0.0,\\n  \\\"tax_amount\\\": 0.0,\\n  \\\"gross_amount\\\": 0.0,\\n  \\\"line_items\\\": [\\n    {\\n      \\\"line_number\\\": 1,\\n      \\\"sku\\\": \\\"string or null\\\",\\n      \\\"description\\\": \\\"string or null\\\",\\n      \\\"quantity\\\": 0.0,\\n      \\\"unit_price\\\": 0.0,\\n      \\\"tax_rate\\\": 0.0,\\n      \\\"line_net_amount\\\": 0.0,\\n      \\\"line_tax_amount\\\": 0.0,\\n      \\\"line_gross_amount\\\": 0.0\\n    }\\n  ],\\n  \\\"confidence_score\\\": 0.0,\\n  \\\"extraction_warnings\\\": []\\n}\\n\\nBecause this document required OCR, cap confidence_score at 0.75 even on a clean read, and add \\\"ocr_fallback_used\\\" to extraction_warnings.\" },\n      { \"inline_data\": { \"mime_type\": \"application/pdf\", \"data\": $json.base64Pdf } }\n    ]\n  }],\n  \"generationConfig\": {\n    \"responseMimeType\": \"application/json\"\n  }\n} }}",
        "options": {}
      },
      "id": "c345ae38-7a5b-4e7d-817a-6e82fd16aeff",
      "name": "Gemini OCR Fallback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        210
      ]
    }
  ],
  "connections": {
    "Read Local PDF File": {
      "main": [
        [
          {
            "node": "Set Demo Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Demo Metadata": {
      "main": [
        [
          {
            "node": "Compute Attachment Hash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Attachment Hash": {
      "main": [
        [
          {
            "node": "Write Binary PDF File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Encode PDF as Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Encode PDF as Base64": {
      "main": [
        [
          {
            "node": "Gemini AI Extraction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini AI Extraction": {
      "main": [
        [
          {
            "node": "Normalize Extracted JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Extracted JSON": {
      "main": [
        [
          {
            "node": "NocoDB Invoices Lookup",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prep Audit: Extracted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Audit: Extracted": {
      "main": [
        [
          {
            "node": "Log Audit: Extracted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB Invoices Lookup": {
      "main": [
        [
          {
            "node": "NocoDB PO Lookup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB PO Lookup": {
      "main": [
        [
          {
            "node": "NocoDB Vendor Lookup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB Vendor Lookup": {
      "main": [
        [
          {
            "node": "NocoDB PO Line Items Lookup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB PO Line Items Lookup": {
      "main": [
        [
          {
            "node": "Build PO Object",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prep Audit: PO Lookup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Audit: PO Lookup": {
      "main": [
        [
          {
            "node": "Log Audit: PO Lookup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build PO Object": {
      "main": [
        [
          {
            "node": "Call Matching Service",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Matching Service": {
      "main": [
        [
          {
            "node": "Store Invoice in NocoDB",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prep Audit: Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Audit: Validation": {
      "main": [
        [
          {
            "node": "Log Audit: Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Invoice in NocoDB": {
      "main": [
        [
          {
            "node": "Prepare Invoice Line Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "Switch on validation_status",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prep Audit: Outcome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Invoice Line Items": {
      "main": [
        [
          {
            "node": "Store Invoice Line Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Invoice Line Items": {
      "main": [
        [
          {
            "node": "Prepare Validation Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Validation Results": {
      "main": [
        [
          {
            "node": "Store Validation Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Validation Results": {
      "main": [
        []
      ]
    },
    "Prep Audit: Outcome": {
      "main": [
        [
          {
            "node": "Log Audit: Outcome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch on validation_status": {
      "main": [
        [
          {
            "node": "Send Payment Approved Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Review Needed Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Rejected Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WebhookTrigger": {
      "main": [
        [
          {
            "node": "Read Local PDF File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionTimeout": 300,
    "errorWorkflow": "YOUR_ERROR_WORKFLOW_ID"
  },
  "active": false
}